@import url("../App.css");

@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.Introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  overflow: auto;
  background-color: var(--white-color);
}

.Introduction .greeting {
  font-size: 42px;
}

.Introduction .name {
  font-size: 120px;
  font-weight: bold;
}

.Introduction .position {
  font-size: 42px;
}

.Introduction .java-logo-container {
  display: flex;
  justify-content: center;
}

.Introduction .java-logo {
  display: flex;
  margin-top: 3vh;
  padding: 30px;
  background-color: var(--orange-color);
  border-radius: 100%;
}

.Introduction .typing-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Introduction .input-cursor {
  display: inline-block;
  width: 10px;
  height: 120px;
  background-color: black;
  margin-left: 8px;
  animation: blink 0.6s linear infinite alternate;
}
